.navbar {
    background-color: blue; /* Color de fondo */
    color: white; /* Color del texto */
    display: flex; /* Distribuye los elementos en columna */
    flex-direction: column; /* Ordena los elementos en una columna */
    align-items: flex-start; /* Alinea los elementos al principio del contenedor */
    padding: 0; /* Espaciado interno */
    grid-area: navbar; /* Asegura que el navbar se alinee con el área del grid */
}

.navbar-brand {
    font-size: 1.5rem; /* Tamaño del texto de la marca */
    font-weight: bold; /* Texto en negrita */
    margin-bottom: 1rem; /* Espacio debajo del nombre de la marca */
}

.navbar-menu {
    list-style: none; /* Elimina los bullets del menú */
    margin: 0; /* Elimina el margen externo */
    padding: 0; /* Elimina el padding interno */
    width: 100%; /* Asegura que el menú ocupe todo el ancho disponible */
}

.navbar-menu li {
    margin-bottom: 1rem; /* Espacio entre los elementos del menú */
}

.navbar-menu a {
    color: white; /* Color de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    font-size: 1rem; /* Tamaño del texto de los enlaces */
}

.navbar-menu a:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}


.filters {
    background-color: #f0f0f0; /* Fondo de la sección de filtros */
    padding: 0.5rem; /* Espaciado interno */
    grid-area: filters; /* Cambia el área de cuadrícula a filters */
}

.filters form {
    display: flex;
    flex-direction: column;
}

.filters label {
    text-align: center ;
}

.filters select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main_container {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 15fr 80fr 10fr;
    grid-template-areas: 
    'navbar filters'    
    'navbar gallery'
    'footer gallery';
    height: 100vh;
}

.gallery {
    background-color: white;
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    width: 200px; /* Ajusta el tamaño de la tarjeta */
    height: 300px; /* Ajusta el tamaño de la tarjeta */
    padding: 10px; /* Añade un pequeño padding */
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card img {
    width: 100%; /* La imagen ocupará todo el ancho de la tarjeta */
    height: 250px; /* Mantendrá la proporción de la imagen */
    max-height: 250px; /* Ajusta este valor para limitar la altura máxima */
    object-fit: cover; /* La imagen se recorta para cubrir el área, sin deformarse */
}

.card h3, .card p {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%; /* Asegura que el texto ocupe todo el ancho disponible */
}

.card h3 {
    margin-bottom: 0px; /* Ajusta este valor para reducir el espacio entre el h3 y el p */
}

.card p {
    margin-top: 0; /* Asegura que no haya margen superior en el párrafo */
}

.btn-comprar {
    background-color: blue;
    color: white;
    width: 100%; /* El botón ocupará todo el ancho de la tarjeta */
    border: 0;
    padding: 0.5rem;
    text-align: center;
}

.footer {
    background-color: darkblue;
    color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Ordena los elementos en una columna */
    padding: 0px;
}

.social-icons {
    display: flex; /* Usa flexbox para alinear los íconos en línea */
    justify-content: center; /* Centra los íconos horizontalmente */
    padding: 0px; /* Espaciado interno */
    gap: 5px; /* Espacio entre los íconos */
}

.social-icon {
    color: white; /* Color de los íconos (puedes ajustar este valor) */
    font-size: 24px; /* Tamaño de los íconos (puedes ajustar este valor) */
    text-decoration: none; 
}

.social-icon:hover {
    color: #007bff; 
}

.footer p {
    margin: 0; /* Elimina el margen del párrafo */
}