.main_container {
    display: grid;
    padding: 0;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    grid-template-areas: 
        'navbar'    
        'filters'
        'gallery'
        'footer';
    height: 100vh;
    width: 100%;
}

.navbar {
    display: flex;    
    flex-direction: row; 
    align-items: center;  
    justify-content: space-between;
    grid-area: navbar;
    padding: 0; 
    background-color: blue; 
    color: white; 
}

.navbar-brand {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-bottom: 0;  
}

.navbar-menu {
    display: none; 
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 30px;
    height: 3px;
    background-color:white; 
    margin: 3px ;
    border: 10px;
}



.filters {
    background-color: #f0f0f0; 
    padding: 0.5rem; 
    grid-area: filters;
}

.filters form {
    display: flex;
    flex-direction: column;
}

.filters label {
    text-align: center;
}

.filters select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gallery {
    background-color: white;
    grid-area: gallery;
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    width: 200px; 
    height: 300px; 
    padding: 10px; 
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card img {
    width: 100%; 
    height: 250px; 
    max-height: 250px; 
    object-fit: cover; 
}

.card h3, .card p {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%; 
}

.card h3 {
    margin-bottom: 0px; 
}

.card p {
    margin-top: 0; 
}

.btn-comprar {
    background-color: blue;
    color: white;
    width: 100%; 
    border: 0;
    padding: 0.5rem;
    text-align: center;
}

.footer {
    background-color: darkblue;
    color: white;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
    padding: 0px;
}

.footer .social-icons {
    display: flex; 
    justify-content: center; 
    padding: 0px; 
    gap: 5px; 
}

.footer .social-icon {
    color: white; 
    font-size: 24px; 
    text-decoration: none; 
}

.footer .social-icon:hover {
    color: #007bff; 
}

.footer p {
    margin: 0; 
}

/* Estilo para pantallas de 576px o más */
@media (min-width: 576px) {
    .main_container {
        display: grid;
        padding: 0;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 15fr 80fr 10fr;
        grid-template-areas: 
            'navbar filters'    
            'navbar gallery'
            'footer gallery';
        height: 100vh;
    }

    .navbar {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: flex-start;
        grid-area: navbar;
        padding: 0; 
        background-color: blue; 
        color: white; 
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        grid-area: footer;
        background-color: darkblue;
        color: white;
        padding: 0px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
        grid-area: gallery;
        background-color: white;
        align-items: flex-start;
    }

    .filters {
        grid-area: filters;
        background-color: #f0f0f0; 
        padding: 0.5rem; 
    }
    .navbar-menu {
        display: flex;    
        flex-direction: column; 
        list-style: none; 
        margin: 10px; 
        padding: 0; 
        width: 100%; 
    }
    
    .navbar-brand {
        font-size: 1.5rem; 
        font-weight: bold; 
        margin-bottom: 1rem;  
        margin: 10px;
    }

    .navbar-menu li {
        margin-bottom: 1rem; 
    }
    
    .navbar-menu a {
        color: white;
        text-decoration: none; 
        font-size: 1rem; 
    }
    
    .navbar-menu a:hover {
        text-decoration: underline; 
    }

    .navbar-toggle {
        display: none;
    }

}